.grid-fluid {
  margin: 1rem auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.post-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  background-color: #eceff1;
}

.post-card h2 {
  font-size: 1rem;
}
.post-card p {
  display: flex;
  justify-content: space-between;
}
