@import url("header.css");
@import url("loader.css");
@import url("error.css");
@import url("posts.css");

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
}
a {
  color: #01579b;
  transition: all 0.3s ease-out;
}
a:hover {
  opacity: 0.75;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  text-align: center;
}
